TELEGRAM_BOT_TOKEN=
# polling/webhook
BOT_MODE=polling
WEBHOOK_URL=
WEBHOOK_PATH=telegram
PORT=8000

MAX_FILE_SIZE_MB=50
MAX_CONCURRENT_JOBS=1
FFMPEG_THREADS=2
FFMPEG_PRESET=veryfast
FFMPEG_CRF=26
MEDIA_WRITE_TIMEOUT=300